@charset "UTF-8";

.body {
    font-family: 'Noto Sans JP', sans-serif;        
}

.header {
    padding-top: 16px;
}

.logo {
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.logo-parts {
    color: #1FB3EA; /* トマト色 */
    font-weight: bold;
}
.header-nav {
    margin-top: 16px;
}
.nav-list {
    display: flex;
    justify-content: center; /* 水平方向の中央寄せ */
    gap: 24px;
    font-size: 14px;
    margin-bottom: 16px;
}

.section-wrapper {
    padding: 80px 16px;
}

.container {
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.news-list {
    border-collapse: separate;
    border-spacing: 0 16px;
}

.news-date, .news-title {
    font-size: 14px;
    text-align: left;
    vertical-align: top;
}

.news-date {
    padding-right: 16px;
}

.news-title span {
    border-bottom: 1px solid #000;
}

.news-btn {
    display: block;
    margin: 40px auto 0;
    text-align: center;
    background-color: #1FB3EA;
    color: #FFF;
    padding: 16px 24px;
    width: 185px;
    height: 60px;
    font-size: 14px;
}

.philosophy {
    margin-top: 40px;
    margin-bottom: 41px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.container p {
    padding: 0 15px;
    font-size: 14px;
}


